@font-face {
    font-family: 'lovingu';
    src: url('@/assets/fonts/cafe24lovingu-webfont.woff2') format('woff2'),
         url('@/assets/fonts/cafe24lovingu-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'playball';
    src: url('@/assets/fonts/playball-regular-webfont.woff2') format('woff2'),
         url('@/assets/fonts/playball-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'amatic_sc';
    src: url('@/assets/fonts/amaticsc-bold-webfont.woff2') format('woff2'),
         url('@/assets/fonts/amaticsc-bold-webfont.woff') format('woff');
    font-weight: 700;
    font-style: normal;

}
@font-face {
    font-family: 'amatic_sc';
    src: url('@/assets/fonts/amaticsc-regular-webfont.woff2') format('woff2'),
         url('@/assets/fonts/amaticsc-regular-webfont.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}